.header {
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bio {
    max-width: 800px;
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    padding: 25px;
}
.headshot {
    background-color: white;
    width: 150px;
    height: 150px;
}
