.header {
    width: 100vw;

    padding-top: 10%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bio {
    max-width: 800px;
    padding-bottom: 100px;
    padding: 0 10px 100px 10px;
}

.title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: 500ms ease-in 0s 1 dropFromTop;
}

.title {
    padding: 25px;
}
.headshot {
    background-color: white;
    width: 150px;
    height: 150px;
}

.about-me {
    animation: 1s ease-in 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes dropFromTop {
    0% {
        transform: translatey(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.header {
    /* This section calls the slideInFromLeft animation we defined above */
}
