.about {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-height: 100%;
    margin: auto;
    animation-duration: 2s;
    animation-name: slideInFromRight;
    animation-iteration-count: 1;
}

.bio-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: #382831;
    border-radius: 5px;
    padding: 25px;
}

.me {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    padding-right: 20px;
    margin: auto;
}

.welcome {
    width: 200px;
}

.welcome h2 {
    overflow: hidden;
    position: relative;
    left: 0%;
    border-right: 0.15em solid #e57a44; /* The typwriter cursor */
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2.5s steps(30, end), blink-caret 0.75s step-end infinite;
    animation-delay: 1s;
}

@keyframes typing {
    from {
        width: 0;
        visibility: visible;
    }

    to {
        width: 100%;
        opacity: 100%;
        visibility: visible;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}

@media only screen and (max-width: 600px) {
    .bio-wrapper {
        flex-direction: column;
    }
    .about h2 {
        text-align: center;
    }
}
