@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&family=Raleway:wght@300;500&display=swap');
body {
    min-height: 100vh;
    /* animation: shiftBackgroundColor 5s ease-in-out infinite alternate; */
    /* background: linear-gradient(to top, #2a2c43, #2c1f1f, #2a2c43); */
    background: linear-gradient(
        to bottom,
        #06070c,
        #151625,
        #2a2c43,
        #36384b,
        #2a2c43,
        #181929,
        #05060a
    );
    /* animation: shiftBackgroundColor 5s ease-in-out infinite alternate; */
}

.App {
}

p {
    font-family: 'Nunito Sans', sans-serif;
}

h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #f0e1d9;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    color: #e57a44;
    font-size: 60px;
}

a {
    color: #e57a44;
}

/* PROJECTS */
.projects {
}

/* MENU */

@keyframes dropFromTop {
    0% {
        transform: translatey(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes float {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(5px);
    }
}
/* Blogs */
.post {
    background-color: #2a2d43;
    height: 30px;
    color: white;
    animation: 500ms ease-in 0s 1 slideInFromRight;
}
