@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&family=Raleway:wght@300;500&family=Roboto:wght@100&display=swap');
html {
    height: 100%;
}

body {
    min-height: 100%; /* make sure it is at least as tall as the viewport */
    position: relative;
    background: linear-gradient(
            to bottom,
            #06070c,
            #151625,
            #2a2c43,
            #36384b,
            #2a2c43,
            #181929,
            #05060a
        )
        fixed;
}
.app {
    height: 100%;
}

p {
    font-family: 'Nunito Sans', sans-serif;
    color: rgb(250, 250, 250);
    font-size: 1rem;
}

h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #e57a44;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #e57a44;
    font-size: 5rem;
    margin-bottom: 0;
}

a {
    color: #e57a44;
    text-decoration: none;
    cursor: pointer;
}

button {
    padding: 5px;
    margin: 5px;
    background-color: #21233a;
    color: rgb(170, 190, 209);
    cursor: pointer;
    border: 1px solid #2a2c43;
    border-radius: 3px;
}
button:hover {
    background-color: #0a0e38;
    color: rgb(255, 255, 255);
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes dropFromBottom {
    0% {
        transform: translatey(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes float {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(5px);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes leaveToTop {
    0% {
        transform: scaleY(100%);
    }
    100% {
        transform: scaleY(0%);
    }
}

@keyframes shiftBackgroundColor {
    0% {
        background: linear-gradient(to bottom, #2a2d43, #362a43, #2c1f1f);
    }
    50% {
        background: linear-gradient(to bottom, #2c1f1f, #2a2d43, #362a43);
    }
    100% {
        background: linear-gradient(to bottom, #362a43, #2c1f1f, #2a2d43);
    }
}
